In [25]:
#pip install fundamentus yfinance

In [26]:
import yfinance as yf

In [27]:
#Todos os ativos estão finalizados com .SA, que é a forma como ações brasileiras são lidas pela biblioteca yfinance.
#Definindo a carteira de ações.
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
               'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

In [28]:
#Carregando dados
df= yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

[*********************100%***********************]  10 of 10 completed

In [29]:
#Visualizando as 3 primerias linhas
df.head(3)

Price           Close                                                        \
Ticker       ABEV3.SA   B3SA3.SA   ELET3.SA   GGBR4.SA  ITSA4.SA   PETR4.SA
Date
2022-08-01  12.954397   9.965705  44.577351  15.262524  5.903677  16.169100
2022-08-02  13.025234   9.901527  44.922466  15.733231  5.958982  16.241112
2022-08-03  12.954397  10.231579  45.066257  15.094874  6.007373  16.250713

Price                                                   ...    Volume  \
Ticker       RENT3.SA   SUZB3.SA   VALE3.SA   WEGE3.SA  ...  ABEV3.SA
Date                                                    ...
2022-08-01  52.656380  43.352535  55.528908  26.874166  ...  34565900
2022-08-02  52.905106  43.708706  57.298840  27.356131  ...  12515800
2022-08-03  54.554073  43.224678  55.072140  27.105509  ...  19576600

Price                                                                  \
Ticker      B3SA3.SA  ELET3.SA  GGBR4.SA  ITSA4.SA  PETR4.SA RENT3.SA
Date
2022-08-01  26237600  12239200  16655058  25799552  81365100  6769429
2022-08-02  29130100   7477600  16078734  15750344  69147100  4870629
2022-08-03  29172900   8281500  30645468  25337732  65544500  4927295

Price
Ticker     SUZB3.SA  VALE3.SA WEGE3.SA
Date
2022-08-01  7127600  38874000  8202200
2022-08-02  4379000  32636900  7214800
2022-08-03  4451900  31934600  6627100

[3 rows x 50 columns]

In [30]:
#Arrumando visualização dos dados
#Passando ativos para multindex do dataframe
#Empilhar dados: Vai ser utilizado stack() a função transformar essas colunas que estão em formato de linhas em uma única coluna, colocando seus dados empilhados.
# Passando os ativos para o multindex do df
cotacoes = df.stack(level = 1)
cotacoes

C:\Users\Cr0l3y\AppData\Local\Temp\ipykernel_1680\644809398.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level = 1)

Price                    Close       High        Low       Open    Volume
Date       Ticker
2022-08-01 ABEV3.SA  12.954397  13.184619  12.777304  13.158054  34565900
           B3SA3.SA   9.965705  10.194907   9.819016  10.103227  26237600
           ELET3.SA  44.577351  44.951225  43.772082  43.906293  12239200
           GGBR4.SA  15.262524  15.881537  15.152907  15.881537  16655058
           ITSA4.SA   5.903677   6.000459   5.841461   5.979720  25799552
...                        ...        ...        ...        ...       ...
2023-07-31 PETR4.SA  23.551949  23.582230  22.938734  22.938734  91290800
           RENT3.SA  63.632675  64.049193  62.894305  63.462285   5980447
           SUZB3.SA  45.487904  45.998898  44.797116  44.844430   4602700
           VALE3.SA  60.842945  61.300408  59.681679  59.822441  26065700
           WEGE3.SA  39.072895  39.435046  38.965232  39.435046   7141800

[2500 rows x 5 columns]

In [35]:
# Empilhando o nível 1 (provavelmente os ativos)
cotacoes = df.stack(level=1)

# Resetando os índices corretamente para converter "Ativo" em coluna
cotacoes = cotacoes.reset_index().rename(columns={cotacoes.index.names[1]: "Ativo"})

# Organizando o DataFrame
colunas_desejadas = ["Date", "Open", "High", "Low", "Close", "Ativo"]
colunas_existentes = [col for col in colunas_desejadas if col in cotacoes.columns]
cotacoes = cotacoes[colunas_existentes]
#del para deletar variáveis que são auxiliares, utilizadas apenas para construir aquele DataFrame.
del carteira_yf, df
# Exibir resultado
cotacoes.head(10)

C:\Users\Cr0l3y\AppData\Local\Temp\ipykernel_1680\2775482107.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level=1)

Price       Date       Open       High        Low      Close     Ativo
0     2022-08-01  13.158054  13.184619  12.777304  12.954397  ABEV3.SA
1     2022-08-01  10.103227  10.194907   9.819016   9.965705  B3SA3.SA
2     2022-08-01  43.906293  44.951225  43.772082  44.577351  ELET3.SA
3     2022-08-01  15.881537  15.881537  15.152907  15.262524  GGBR4.SA
4     2022-08-01   5.979720   6.000459   5.841461   5.903677  ITSA4.SA
5     2022-08-01  16.322725  16.394738  15.948263  16.169100  PETR4.SA
6     2022-08-01  52.877468  53.319651  52.324742  52.656380  RENT3.SA
7     2022-08-01  44.165338  44.165338  42.877639  43.352535  SUZB3.SA
8     2022-08-01  56.230360  56.972591  55.406560  55.528908  VALE3.SA
9     2022-08-01  27.028396  27.645306  26.768136  26.874166  WEGE3.SA

In [34]:
cotacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2500 non-null   datetime64[ns]
 1   Open    2500 non-null   float64
 2   High    2500 non-null   float64
 3   Low     2500 non-null   float64
 4   Close   2500 non-null   float64
 5   Ativo   2500 non-null   object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 117.3+ KB