In [1]:
#pip install fundamentus yfinance

In [2]:
import yfinance as yf

In [3]:
#Todos os ativos estão finalizados com .SA, que é a forma como ações brasileiras são lidas pela biblioteca yfinance.
#Definindo a carteira de ações.
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
               'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

In [4]:
#Carregando dados
df= yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

[*********************100%***********************]  10 of 10 completed

In [5]:
#Visualizando as 3 primerias linhas
df.head(3)

Price           Close                                                        \
Ticker       ABEV3.SA   B3SA3.SA   ELET3.SA   GGBR4.SA  ITSA4.SA   PETR4.SA
Date
2022-08-01  12.954396   9.965202  44.577351  15.262523  5.907609  16.204193
2022-08-02  13.025234   9.901028  44.922462  15.733232  5.962950  16.276365
2022-08-03  12.954396  10.231063  45.066261  15.094872  6.011373  16.285986

Price                                                   ...    Volume  \
Ticker       RENT3.SA   SUZB3.SA   VALE3.SA   WEGE3.SA  ...  ABEV3.SA
Date                                                    ...
2022-08-01  52.656384  43.352535  55.528900  26.874166  ...  34565900
2022-08-02  52.905106  43.708706  57.298843  27.356127  ...  12515800
2022-08-03  54.554073  43.224674  55.072140  27.105511  ...  19576600

Price                                                                  \
Ticker      B3SA3.SA  ELET3.SA  GGBR4.SA  ITSA4.SA  PETR4.SA RENT3.SA
Date
2022-08-01  26237600  12239200  16655058  25799552  81365100  6769429
2022-08-02  29130100   7477600  16078734  15750344  69147100  4870629
2022-08-03  29172900   8281500  30645468  25337732  65544500  4927295

Price
Ticker     SUZB3.SA  VALE3.SA WEGE3.SA
Date
2022-08-01  7127600  38874000  8202200
2022-08-02  4379000  32636900  7214800
2022-08-03  4451900  31934600  6627100

[3 rows x 50 columns]

In [6]:
#Arrumando visualização dos dados
#Passando ativos para multindex do dataframe
#Empilhar dados: Vai ser utilizado stack() a função transformar essas colunas que estão em formato de linhas em uma única coluna, colocando seus dados empilhados.
# Passando os ativos para o multindex do df
cotacoes = df.stack(level = 1)
cotacoes

C:\Users\Cr0l3y\AppData\Local\Temp\ipykernel_12840\644809398.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level = 1)

Price                    Close       High        Low       Open    Volume
Date       Ticker
2022-08-01 ABEV3.SA  12.954396  13.184618  12.777303  13.158053  34565900
           B3SA3.SA   9.965202  10.194393   9.818521  10.102717  26237600
           ELET3.SA  44.577351  44.951225  43.772082  43.906293  12239200
           GGBR4.SA  15.262523  15.881536  15.152906  15.881536  16655058
           ITSA4.SA   5.907609   6.004456   5.845351   5.983703  25799552
...                        ...        ...        ...        ...       ...
2023-07-31 PETR4.SA  23.551945  23.582226  22.938730  22.938730  91290800
           RENT3.SA  63.632683  64.049201  62.894313  63.462293   5980447
           SUZB3.SA  45.487907  45.998902  44.797120  44.844433   4602700
           VALE3.SA  60.842945  61.300408  59.681679  59.822441  26065700
           WEGE3.SA  39.072891  39.435042  38.965229  39.435042   7141800

[2500 rows x 5 columns]

In [7]:
# Empilhando o nível 1 (provavelmente os ativos)
cotacoes = df.stack(level=1)

# Resetando os índices corretamente para converter "Ativo" em coluna
cotacoes = cotacoes.reset_index().rename(columns={cotacoes.index.names[1]: "Ativo"})

# Organizando o DataFrame
colunas_desejadas = ["Date", "Open", "High", "Low", "Close", "Ativo"]
colunas_existentes = [col for col in colunas_desejadas if col in cotacoes.columns]
cotacoes = cotacoes[colunas_existentes]
#del para deletar variáveis que são auxiliares, utilizadas apenas para construir aquele DataFrame.
del carteira_yf, df
# Exibir resultado
cotacoes.head(10)

C:\Users\Cr0l3y\AppData\Local\Temp\ipykernel_12840\1849873126.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level=1)

Price       Date       Open       High        Low      Close     Ativo
0     2022-08-01  13.158053  13.184618  12.777303  12.954396  ABEV3.SA
1     2022-08-01  10.102717  10.194393   9.818521   9.965202  B3SA3.SA
2     2022-08-01  43.906293  44.951225  43.772082  44.577351  ELET3.SA
3     2022-08-01  15.881536  15.881536  15.152906  15.262523  GGBR4.SA
4     2022-08-01   5.983703   6.004456   5.845351   5.907609  ITSA4.SA
5     2022-08-01  16.358152  16.430321  15.982877  16.204193  PETR4.SA
6     2022-08-01  52.877472  53.319655  52.324746  52.656384  RENT3.SA
7     2022-08-01  44.165338  44.165338  42.877639  43.352535  SUZB3.SA
8     2022-08-01  56.230353  56.972584  55.406553  55.528900  VALE3.SA
9     2022-08-01  27.028396  27.645306  26.768136  26.874166  WEGE3.SA

In [8]:
cotacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2500 non-null   datetime64[ns]
 1   Open    2500 non-null   float64
 2   High    2500 non-null   float64
 3   Low     2500 non-null   float64
 4   Close   2500 non-null   float64
 5   Ativo   2500 non-null   object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 117.3+ KB

#dados que indicam a saúde financeira das empresas nas quais nosso cliente está investindo

In [10]:
#pip install --upgrade fundamentus
import fundamentus
import pandas as pd

2025-01-29 18:55:50,955 [logging.log_init] INFO: LOGLEVEL=INFO

In [12]:
#Lendo um papel especificamente
weg = fundamentus.get_papel("WEGE3")
weg

2025-01-29 18:57:00,195 [detalhes.get_papel] INFO: detalhes: call: get..._papel()

,Papel,Tipo,Empresa,Setor,Subsetor,Cotacao,Data_ult_cot,Min_52_sem,Max_52_sem,Vol_med_2m,...,Ativo_Circulante,Div_Bruta,Div_Liquida,Patrim_Liq,Receita_Liquida_12m,EBIT_12m,Lucro_Liquido_12m,Receita_Liquida_3m,EBIT_3m,Lucro_Liquido_3m
WEGE3,WEGE3,ON N1,WEG SA ON N1,Máquinas e Equipamentos,"Motores, Compressores e Outros",54.09,2025-01-28,31.79,58.48,361921000,...,23752100000,3027030000,-3083980000,19724500000,35725900000,8122710000,6093230000,9856930000,2266470000,1578680000

In [13]:
# Definindo a carteira de ações
carteira_fund = ["ABEV3", "B3SA3", "ELET3", "GGBR4", "ITSA4",
                 "PETR4", "RENT3", "SUZB3", "VALE3", "WEGE3"]

In [19]:
# Criando um df com algumas infos da carteira
ind = pd.concat([fundamentus.get_papel(papel)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 
                                               'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
                                               'Receita_Liquida_12m','Receita_Liquida_3m', 
                                               'Lucro_Liquido_12m', 'Lucro_Liquido_3m']] for papel in carteira_fund])
ind.head(3)

2025-01-29 19:05:53,124 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:53,157 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:54,012 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:54,815 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:55,581 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:56,370 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:57,158 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:57,947 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:58,714 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2025-01-29 19:05:59,699 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')

,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
ABEV3,Bebidas,11.11,10.54,13.71,175068000000,15757700000,98140400000,82406500000,22096700000,13944500000,3460270000
B3SA3,Serviços Financeiros Diversos,10.55,9.10,13.04,57249600000,5426500000,19145200000,10398500000,2711380000,4313670000,1204490000
ELET3,Energia Elétrica,35.98,33.21,42.90,83009500000,2307100000,121252000000,38078600000,11042900000,10155700000,7195280000

In [20]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABEV3 to WEGE3
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Setor                10 non-null     object
 1   Cotacao              10 non-null     object
 2   Min_52_sem           10 non-null     object
 3   Max_52_sem           10 non-null     object
 4   Valor_de_mercado     10 non-null     int64
 5   Nro_Acoes            10 non-null     object
 6   Patrim_Liq           10 non-null     object
 7   Receita_Liquida_12m  10 non-null     object
 8   Receita_Liquida_3m   10 non-null     object
 9   Lucro_Liquido_12m    10 non-null     object
 10  Lucro_Liquido_3m     10 non-null     object
dtypes: int64(1), object(10)
memory usage: 1.2+ KB

In [21]:
#Usando os ticks
ind = ind.reset_index()
ind.rename(columns={"index": "Ativo"}, inplace=True)

# Alterando colunas object para numeric
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors='coerce', axis=1)
ind.head()

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
0,ABEV3,Bebidas,11.11,10.54,13.71,1.750680e+11,1.575770e+10,9.814040e+10,8.240650e+10,2.209670e+10,1.394450e+10,3.460270e+09
1,B3SA3,Serviços Financeiros Diversos,10.55,9.10,13.04,5.724960e+10,5.426500e+09,1.914520e+10,1.039850e+10,2.711380e+09,4.313670e+09,1.204490e+09
2,ELET3,Energia Elétrica,35.98,33.21,42.90,8.300950e+10,2.307100e+09,1.212520e+11,3.807860e+10,1.104290e+10,1.015570e+10,7.195280e+09
3,GGBR4,Siderurgia e Metalurgia,17.67,16.48,21.15,3.627140e+10,2.052710e+09,5.529500e+10,6.491960e+10,1.737800e+10,4.828240e+09,1.347400e+09
4,ITSA4,Intermediários Financeiros,9.38,8.53,10.59,1.017220e+11,1.084460e+10,8.646300e+10,8.119000e+09,2.240000e+09,1.404000e+10,3.819000e+09

P/L: preço sobre lucro

Div.Yield: rendimento do dividendo ou dividend yield

P/VP: preço sobre valor patrimonial

ROE: retorno sobre patrimônio ou return on equity

In [22]:
# Criando um novo df com alguns indicadores da carteira
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query("papel in @carteira_fund")
ind_2 = ind_2[['papel','P/L', 'Div.Yield','P/VP','ROE']].reset_index(drop=True)
ind_2.rename(columns={'papel': 'Ativo','Div.Yield':'DY'}, inplace= True)
ind_2.head()

c:\Users\Cr0l3y\AppData\Local\Programs\Python\Python313\Lib\site-packages\fundamentus\resultado.py:50: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(content.text, decimal=",", thousands='.')[0]

Multiples  Ativo    P/L      DY  P/VP     ROE
0          ABEV3  12.40  0.0609  1.76  0.1421
1          B3SA3  13.27  0.0355  2.99  0.2253
2          ELET3   8.04  0.0358  0.67  0.0838
3          GGBR4   7.43  0.0461  0.65  0.0873
4          ITSA4   7.24  0.0677  1.18  0.1624

LPA: lucro por ação
VPA: valor patrimonial por ação

In [23]:
# Concatenando os dfs em um só com as infos e indicadores
indicadores = pd.merge(ind, ind_2, on="Ativo")
# Criando uma coluna para LPA (Lucro por Ação) e VPA (Valor Patrimonial por ação)
# para calcular a fórmula de Graham  Valor intrínseco de uma ação (VI = √22,5 x LPA x VPA)
indicadores["LPA"] = (indicadores["Lucro_Liquido_12m"] / indicadores["Nro_Acoes"]).round(2)
indicadores["VPA"] = (indicadores["Patrim_Liq"] / indicadores["Nro_Acoes"]).round(2)
indicadores

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m,P/L,DY,P/VP,ROE,LPA,VPA
0,ABEV3,Bebidas,11.11,10.54,13.71,1.750680e+11,1.575770e+10,9.814040e+10,8.240650e+10,2.209670e+10,1.394450e+10,3.460270e+09,12.40,0.0609,1.76,0.1421,0.88,6.23
1,B3SA3,Serviços Financeiros Diversos,10.55,9.10,13.04,5.724960e+10,5.426500e+09,1.914520e+10,1.039850e+10,2.711380e+09,4.313670e+09,1.204490e+09,13.27,0.0355,2.99,0.2253,0.79,3.53
2,ELET3,Energia Elétrica,35.98,33.21,42.90,8.300950e+10,2.307100e+09,1.212520e+11,3.807860e+10,1.104290e+10,1.015570e+10,7.195280e+09,8.04,0.0358,0.67,0.0838,4.40,52.56
3,GGBR4,Siderurgia e Metalurgia,17.67,16.48,21.15,3.627140e+10,2.052710e+09,5.529500e+10,6.491960e+10,1.737800e+10,4.828240e+09,1.347400e+09,7.43,0.0461,0.65,0.0873,2.35,26.94
4,ITSA4,Intermediários Financeiros,9.38,8.53,10.59,1.017220e+11,1.084460e+10,8.646300e+10,8.119000e+09,2.240000e+09,1.404000e+10,3.819000e+09,7.24,0.0677,1.18,0.1624,1.29,7.97
5,PETR4,"Petróleo, Gás e Biocombustíveis",37.13,29.36,37.74,4.843420e+11,1.304450e+10,3.936550e+11,5.038190e+11,1.295820e+11,8.469300e+10,3.255500e+10,5.68,0.2133,1.22,0.2151,6.49,30.18
6,RENT3,Diversos,31.37,28.76,53.72,3.396180e+10,1.082620e+09,2.563870e+10,3.532730e+10,9.683370e+09,1.681320e+09,8.111780e+08,19.43,0.0522,1.27,0.0656,1.55,23.68
7,SUZB3,Madeira e Papel,62.76,45.39,64.87,7.933600e+10,1.264120e+09,4.147080e+10,4.359780e+10,1.227350e+10,4.181440e+09,3.224270e+09,18.80,0.0324,1.90,0.1008,3.31,32.81
8,VALE3,Mineração,52.65,51.23,63.76,2.389790e+11,4.539010e+09,2.085550e+11,2.111090e+11,5.297800e+10,4.825100e+10,1.338600e+10,4.97,0.1014,1.15,0.2314,10.63,45.95
9,WEGE3,Máquinas e Equipamentos,54.09,31.79,58.48,2.270330e+11,4.197320e+09,1.972450e+10,3.572590e+10,9.856930e+09,6.093230e+09,1.578680e+09,37.49,0.0139,11.58,0.3089,1.45,4.70

Cotações dos ativos

A tabela cotacoes dispõe dos seguintes dados:

Date: data, no formato ano-mês-dia, das cotações dos ativos. Por exemplo: 2022-01-08.

Open: cotação de abertura, em reais, dos ativos no período.

High: cotação máxima, em reais, dos ativos no período.

Low: cotação mínima, em reais, dos ativos no período.

Close: cotação de fechamento, em reais, dos ativos no período.

Ativo: ticker da empresa, ou seja, o nome utilizado para encontrar o ativo na bolsa de valores da B3 (Brasil, Bolsa, Balcão). Na bolsa brasileira, um ticker possui 4 caracteres que identificam a empresa, seguido de 1 ou 2 dígitos que identificam o tipo de ativo que a empresa oferta.

Dados gerais e indicadores dos ativos
A tabela indicadores dispõe dos seguintes dados:

Ativo: ticker da empresa.
Setor: setor que atua a empresa listada.
Cotacao: cotação de fechamento no último dia.
Min_52_sem: menor cotação do ativo nos últimos 12 meses (52 semanas).
Max_52_sem: maior cotação do ativo nos últimos 12 meses (52 semanas).
Valor_de_mercado: preço pelo qual o mercado está pagando pela empresa.
Receita_Liquida_12m: receita líquida dos últimos 12 meses.
Nro_Acoes: número total de ações.
Patrim_Liq: patrimônio líquido, a diferença entre os ativos e passivos da empresa.
Receita_Liquida_3m: receita líquida dos últimos 3 meses.
Lucro_Liquido_12m: lucro líquido dos últimos 12 meses.
Lucro_Liquido_3m: lucro líquido dos últimos 3 meses.
P/L: preço sobre o lucro; quanto o mercado está disposto a pagar pelos lucros da empresa.
DY: relação entre os dividendos pagos pela empresa (participação dos lucros do investidor) e o preço da ação.
P/VP: preço sobre valor patrimonial; avalia o preço de uma ação entre o seu valor de mercado e o valor que ela tem em patrimônio.
ROE: retorno sobre patrimônio; mede a eficiência de uma empresa na geração de lucro a partir de seus recursos (em %).
LPA: lucro por ação.
VPA: valor patrimonial por ação.